body {
  background-color: #F9DCE4;
  margin: 0px;
}

@keyframes poschange {
  0%   {margin: -300px 0 0 100px;}
  100% {margin: 0 0 0 100px;}
}

.iamanimated img {
  /* width: 100px; */
  height: 400px;
  position: fixed;
  margin: 0 0 0 100px;
  /* background-color: red; */
  animation-name: poschange;
  animation-duration: 2s;
  /* animation-iteration-count: 5; */
}
